*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Hamasi{
    font-family: sans-serif;
}

.Navbar{
    display: flex;
}

.Logo{
    margin-left: 25px;
    margin-top: 12px;
    font-size: 24px;
}

.Alar{
    margin-top: 20px;
    margin-left: 200px;
}

.Alar a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

.Login{
    margin-left: 375px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.Foto{
    width: 570px;
    margin-left: 150px;
    margin-top: 120px;
}

.About{
    margin-top: 150px;
}

.Lorem{
    font-weight: 100;
    margin-top: 220px;
    margin-left: -170px;
}

.btn{
    width: 140px;
    height: 40px;
    background-color: rgb(27, 190, 190);
    border: none;
    color: white;
    margin-top: 330px;
    margin-left: -620px;
}

.Qolgani_2{
    background-color: black;
    width: 1470px;
    height: 500px;
    margin-top: 100px;
}